.board-overview-container {
    width: 100%;
}

.board-overview-header {
    margin-bottom: 12px;
    position: relative;
}

.board-overview-columns {
    padding: 32px;
    gap: 12px;
    justify-content: center;

}

.board-overview-column-card {
    width: 200px;
    height: fit-content;
}

.column-header {
    position: relative;
}

.column-header > p:hover {
    cursor: pointer;
    color: #0095f6;
}

.add-btn:hover {
    cursor: pointer;
    color: #4cb5f9;
}

.task-card {
    border-bottom: 1px solid #dbdbdb;
    position: relative;

}

.task-card:hover {
    cursor: pointer;
    color: #737373;
}

.tag-display {
    padding: 4px 8px;
    margin: 0 2px;
}

.tag-color-blue {
    background-color: #0095f6;
}

.tag-color-red {
    background-color: #f0134d;
}

.tag-color-purple {
    background-color: #8e44ad;
}