.boards-container {
 height: max-content;
}

.boards-main {
    width: 100%;
}

.board-card {
    height: 200px;
    width: 200px;
    margin: 12px;
    position: relative;
}

.board-card:hover {
    background-color: #f2f2f2;
    cursor: pointer;
    transform: translateY(-1%);
}

.board-card > p {
    max-width: 90%;
    text-align: center;
}

.board-card > p:first-child:hover {
    color: #0095f6;
}

.board-card-icon {
    cursor: pointer;
    position: absolute;
    top: 0%;
    right: 0%;
    transform: translate(-50%, 50%);
}


.boards-header,
.boards-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px;
}

.boards-header>button {
    padding: 4px 8px;
}